<svg
  width="100%"
  height="100%"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="overflow: visible;"
>
  <image
    xlink:href="/assets/ruleta3.png"
    height="25%"
    width="60%"
    x="20%"
    y="0%"
  />
  <image
    xlink:href="/assets/ruleta1.png"
    class="animateRouletteRotate"
    height="90%"
    width="100%"
    y="7%"
  />
  <image
    xlink:href="/assets/ruleta2.png"
    height="16%"
    width="16%"
    x="42%"
    y="9%"
  />
  <text x="42.5%" y="54.5%" class="play-title" fill="white">
    {{ 'views.game.home.play' | translate }}
  </text>
</svg>
